<!-- <!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Inventory Checker</h1>
    <label>SKU</label>
    <input />
    <label>qty</label>
    <input />
    <!-- <div class="report-table">
      <table>
        <tr>
          <th>WarehouseName</th>
          <th>FacilityName</th>
          <th>CustomerName</th>
          <th>WarehouseSku</th>

          <th>PalletId</th>
          <th>CaseId</th>
          <th>UnitId</th>
          <th>Season(User8)</th>
          <th>Season(User3)</th>
        </tr>

        <% for (let i = 0; i < result.length; i++) { %>
        <tr>
          <td><%= result[i].WarehouseName%></td>
          <td><%= result[i].FacilityName%></td>
          <td><%= result[i].CustomerName%></td>
          <td><%= result[i].WarehouseSku%></td>

          <td><%= result[i].PalletId%></td>
          <td><%= result[i].CaseId%></td>
          <td><%= result[i].UnitId%></td>
          <td><%= result[i].USER8%></td>
          <td><%= result[i].USER3%></td>
        </tr>

        <% } %>
      </table> -->
    <!-- </div> -->
  </body>
</html> -->
