<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style>
      th {
        margin: 0rem 1rem;
        width: 10rem;
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
      }
      td {
        margin: 1rem 1rem;
        width: 10rem;
      }

    </style>  
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Results</h1>
    <div>
      <table style="width: 70vw">
        <tr style="display: flex; ">
          <th>WarehouseSku</th>
          <th>PalletId</th>
          <th>LocationName</th>
          <th>Qty</th>
          <th>QtyToTransfer</th>
        </tr>
        <% for(var i=0; i < result.length; i++) { %>
        <tr style="display: flex; ">
          <td><%= result[i].WarehouseSku %></td>
          <td><%= result[i].LocationName %></td>
          <td><%= result[i].PalletId %></td>
          <td><%= result[i].Qty %></td>
          <td><%= result[i].qtyToTransfer %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
